
@font-face {
    font-family: 'Disposable Droid BB';
    src: local('Disposable Droud BB'), url(../DisposableDroidBB_bld.ttf) format('truetype');
}


h1 {
    font-family: 'Disposable Droid BB';
    font-weight: 200;
    font-size: 400%;
}