@font-face {
  font-family: 'Disposable Droid BB';
  src: local('Disposable Droud BB'), url(./DisposableDroidBB_bld.ttf) format('truetype');
}

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  */
  font-family: 'Disposable Droid BB';
  font-size: 150;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(153, 41, 189), rgb(0, 86, 214));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
